<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.group3_project">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Group3_Project"
        tools:targetApi="31">
        <activity
            android:name=".Router.Notify.Notify_DisplayNotify"
            android:exported="false" />
        <activity
            android:name=".Admin.AdminActivity"
            android:exported="true" />
        <activity
            android:name=".Router.Home.Activity.Home_AnswerResult"
            android:exported="false" />
        <activity
            android:name=".Router.Home.Activity.Home_LearnLesson"
            android:exported="false" />
        <activity
            android:name=".Router.Home.Activity.Home_StartLessonActivity"
            android:exported="false" />
        <activity
            android:name=".SubScreen.SubActivity_ChooseLevel"
            android:exported="true" />
        <activity
            android:name=".SubScreen.SubActivity_SignInSignUp"
            android:exported="true" />
        <activity
            android:name=".SubScreen.SubActivity_StartGame"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Router.Note.Activities.Note_update_vocap"
            android:exported="false" />
        <activity
            android:name=".Router.Note.Activities.Note_add_new_vocab"
            android:exported="false" />
        <activity
            android:name=".Router.Game.Activities.Game_ResultActivity"
            android:exported="true"
            android:label="@string/title_activity_game_result"
            android:theme="@style/Theme.Group3_Project.NoActionBar" />
        <activity
            android:name=".Router.Game.Activities.Game_StartGameActivity"
            android:exported="true"
            android:theme="@style/Theme.Group3_Project.NoActionBar" />
        <activity
            android:name=".Router.Game.Activities.Game_WordMatchActivity"
            android:exported="true"
            android:theme="@style/Theme.Group3_Project.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Group3_Project.NoActionBar" />
    </application>

</manifest>